@import "vars";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  margin: 0 auto;
}
h1{
  font-size: 48px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 18px;
}
input,
textarea {
  background: none;
  border: 0;
  box-shadow: none;
  outline: none;
}

p {
  line-height: 1.8;
}
