@import "vars";
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,600,700");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 13px;
  margin: 0 auto;
  padding: 0 30px;
}

input,
textarea {
  background: none;
  border: 0;
  box-shadow: none;
  outline: none;
}

p {
  line-height: 1.8;
}

// TODO: split into Section component
section {
  &:nth-child(2n) {
    background-color: $akai-white;
  }

  &:nth-child(2n + 1) {
    background-color: $bg-color;
  }
}

// TODO: split into Title component
.divider {
  background-color: $akai-yellow;
  height: 3px;
  width: 40px;
}
