@import "../../styles/vars.scss";

.section {
  text-align: center;
  p {
    color: $text-color;
    max-width: 500px;
    margin: 0 auto;
  }
}


.sectionDetails {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  margin: 30px auto;
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.sectionColumn {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex:1
}

.sectionImage {
  max-width: 500px;
  min-width: 300px;
  width: 100%;
  box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.75);
}

.contactWrapper {
  padding: 20px;
}

@media screen and (max-width: $tablet) {
  .sectionColumn {
    margin: 0;
  }
  .sectionDetails {
    flex-direction: column;
    &:nth-child(even) {
      flex-direction: column;
    }
  }
}
