@import "../../styles/vars.scss";

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 640px;

  a {
    text-decoration: none;
  }
}

.partnersIconsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
}

.partnerLink {
  flex-basis: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:hover {
    .partnerIcon {
      fill: $text-color-hover;
    }

    .text {
      color: $text-color-hover;
    }
  }
}

.partnerIcon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  fill: $text-color;
  transition: fill $hoverTransitionDuration ease-in-out;
}

.text {
  font-size: 14px;
  font-weight: 600;
  color: $text-color;
  transition: color $hoverTransitionDuration ease-in-out;
}

.description {
  font-size: 15px;
  font-weight: 500;
  color: $text-color;
  text-align: center;
  max-width: 200px;
  transition: color $hoverTransitionDuration ease-in-out;
}

@media only screen and (min-width: $mobile) {
  .iconLink {
    flex-basis: 33%;
  }
}
